*  @vinothrallapalli-egov @kavi-egov @pradeepkumarcm-egov
*.yaml  @vinothrallapalli-egov @pradeepkumarcm-egov @kavi-egov


##Frontend
frontend/micro-ui/  @vinothrallapalli-egov @kavi-egov @pradeepkumarcm-egov @jagankumar-egov
frontend/micro-ui-internals/ @vinothrallapalli-egov @kavi-egov @pradeepkumarcm-egov @jagankumar-egov
frontend/mono-ui/ @vinothrallapalli-egov @kavi-egov @pradeepkumarcm-egov @jagankumar-egov
